.def {
    width: 20rem;
    height: 10rem;
    margin: 2rem;
    border: 5px solid rgb(155, 150, 150);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dragitem {
    width: 10rem;
    height: 5rem;
    margin: 1rem;

    position: relative;
    background-color: rgb(24, 149, 153);
}